.spin-wheel-control {
  .prizes-container {
    padding-bottom: 0.5em;

    .prize-row {
      padding: 0.5em;
      display: flex;
      gap: 0.25em;

      .select-btn {
        display: inline-block;
        width: 4.5em;
        text-align: center;
      }

      .name-input {
        max-width: 4.5rem;
      }

      .proportion-input {
        max-width: 2.5rem;
      }
    }
  }

  .reset-button {
    float: right;
  }

  button {
    background: transparent;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
  }
}
