.spin-wheel-control {
  .prizes-container {
    padding-bottom: 0.5em;

    .prize-row {
      padding: 0.5em;
      display: flex;
      gap: 0.25em;
    }
  }

  button {
    background: transparent;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
  }
}
